body{
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;

}
.parent{
height: 400px;
width: 400px;
background-color: blue;
border-radius: 100%;
}
.child{
    height: 100px;
    width: 100px;
    background-color: brown;
    border-radius: 100%;
    position:absolute;
    margin-top: 325px;
    margin-left: 300px;
}
