
li.first>ul{
    color: white;
    text-align: center;
    display: inline-block;
    background-color: rgba(240, 156, 18);
    width: 100px;
    margin: 15px;
    padding: 15px;
    border-top-left-radius: 15px; 
        border-bottom-left-radius: 15px; 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px
    
   

    
}
li.first>ul:hover{
    transform: scale(1.5);

}
img{
    display: inline;
    width: 1250px;
    height: 600px;
    margin-bottom: 0%;
}
li.second>ul{
    
    display: inline-block;
    background-color: rgba(240, 156, 18);
    border-top: 0px;
    font-weight: bold;
    margin: 30px;
    padding: 10px;
    
}
li.second{
    border-top: 0px;
    margin-top: 0%;
    text-align: center;
    align-content: center;
    background-color: rgba(240, 156, 18);

}
li.second>ul:hover{
    background-color: rgb(0, 0, 0);
    color: orange;
    
}
.search{
    background-color:orange ;
    width: 1000px;
    margin-top: 50px;
   margin-left: 10%;
   height: 30px;
   border-top-left-radius: 15px; 
        border-bottom-left-radius: 15px; 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px
}
.button{
    
   color: black;
   background-color: orange;
   height: 30px;
    border-bottom-left-radius: 15px; 
    border-top-left-radius: 15px; 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px
    
}
li.first{
    margin-top: 0%;
}
img.logo{
    display: inline;
   margin-left: 45%;
    height: 150px;
    width: 150px;
    
}
div.sentence{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;

}
.row{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    
    
}
.row :hover{
    transform: scale(1.2);
}
.row img{
    width: 23%;
    margin: 1%;
    height: auto;
    border-radius: 10%;
}
.text1{
    position: absolute;
    top: 8px;
    left: 16px;
    font-weight: bolder;
    color: green;
}
.text2{
    position: absolute;
    top: 10px;
    left: 325px;
    font-weight: bolder;
    color: green;
}
.text3{
    position: absolute;
    top: 12px;
    right: 325px;
    font-weight: bolder;
    color: green;
}
.text4{
    position: absolute;
    top: 12px;
    right: 16px;
    font-weight: bolder;
    color: green;
}
div.nihari-photo img{
    border-radius: 5%;
    height: auto;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}
div.prices{
    display: flex;
    justify-content: space-evenly;
}
div.prices>div{
    display: inline;
    color: rgba(240, 156, 18);
    text-transform: capitalize;
    font-weight: bold;

}
div.add-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
div.add-button>div{
    display: inline;
    background-color: rgba(240, 156, 18);
    border: 1px solid;
    margin: 10px;
    padding: 20px;
    border-radius: 20%;

}
div.haleem img{
    border-radius: 5%;
    height: auto;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}
div.haleem-box{
    height: 300px;
    width: 300px;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    color: aliceblue;
    

}
div.biryaniphoto img{
    border-radius: 5%;
    height: auto;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}



div.tandoor img{
    border-radius: 5%;
    height: auto;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}
div.oos img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    height: 300px;
    width: 250px;
    border: 1px solid;
    background-color: aliceblue;
}
div.prices-2{
    margin-left: 180px;
 color: rgba(240, 156, 18);
 font-weight: bold;
}
div.add-button-2{
    margin-left: 190px;
    display: inline-block;
    background-color: rgba(240, 156, 18);
     border: 1px solid;
margin-top: 5px;
    padding: 20px;
    border-radius: 20%;
}
div.drink img{
     border-radius: 5%;
    height: auto;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}
div.drink-card img{
     width: 30%;
    margin: 1%;
    height: auto;
    border-radius: 10%;
}
div.drink-card{
    display: flex;
}