*{
    font-family: 'Times New Roman', Times, serif;
}
body{

    background-color: beige;
}
table{
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
}
td{
    text-align: center;
}
.a,.b{
    color: lightblue;
}
.c,.d{
    color: mediumblue;
}
.e,.f{
    color: blue;
}
.g,.h{
    color: slateblue;
}
.i,.j{
    color: darkblue
}
.k,.l{
    color:blueviolet
}
